@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html, body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#0C0C0C));
  background: linear-gradient(#434343, #0C0C0C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: '微軟正黑體';
  letter-spacing: 8px;
  font-size: 16px;
  color: #fff;
}

.timer .add, .timer .reduce {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .6;
  color: #fff;
  border-radius: 50%;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.timer .add:hover, .timer .reduce:hover {
  background-color: #32e0c4;
  color: #000;
}

.timer .add:active, .timer .reduce:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.timer .add .md-48, .timer .reduce .md-48 {
  font-size: 48px;
}

.timer {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid #32e0c4;
  -webkit-box-shadow: 0px 0px 10px rgba(50, 224, 196, 0.6), inset 0px 0px 10px rgba(50, 224, 196, 0.6);
          box-shadow: 0px 0px 10px rgba(50, 224, 196, 0.6), inset 0px 0px 10px rgba(50, 224, 196, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

.timer:hover {
  border: 3px solid #32e0c4;
  -webkit-box-shadow: 0px 0px 30px rgba(50, 224, 196, 0.6), inset 0px 0px 30px rgba(50, 224, 196, 0.6);
          box-shadow: 0px 0px 30px rgba(50, 224, 196, 0.6), inset 0px 0px 30px rgba(50, 224, 196, 0.6);
}

.timer .reduce {
  top: 460px;
}

.displayTime {
  font-size: 6rem;
  color: #32e0c4;
  text-shadow: 0px 0px 0.1em #32e0c4;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

[class^='btn'] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
  cursor: pointer;
  color: #32e0c4;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #32e0c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  background-color: inherit;
  -webkit-transition: .3s;
  transition: .3s;
}

[class^='btn']:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a6f6f1), to(#32e0c4));
  background: linear-gradient(#a6f6f1, #32e0c4);
  color: #000;
  border: 1px solid #32e0c4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

[class^='btn']:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

[class^='btn']:focus {
  outline: none;
}

[class^='btn'] .md-36 {
  font-size: 36px;
}

.btn--pause {
  background: -webkit-gradient(linear, left top, left bottom, from(#a6f6f1), to(#32e0c4));
  background: linear-gradient(#a6f6f1, #32e0c4);
  color: #000;
  border: 1px solid #32e0c4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */